<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Transport Service</title>
</head>
<body>
<h1>Order a Transport Service</h1>

<form th:action="@{/orders/submit}" th:object="${orderRequest}" method="post">
    <label>Pickup Location:</label>
    <input type="text" th:field="*{pickupLocation}" required/><br/>

    <label>Dropoff Location:</label>
    <input type="text" th:field="*{dropoffLocation}" required/><br/>

    <label>Pickup Date and Time:</label>
    <input type="datetime-local" th:field="*{pickupTime}" required/><br/>

    <label>Special Request:</label>
    <textarea th:field="*{specialRequest}"></textarea><br/>

    <button type="submit">Submit Order</button>
</form>


<a th:href="@{/orders/my}">View My Orders</a>
</body>
</html>
